@import './button';

* {
  font-weight: 500;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1550px;
  margin-right: auto;
  margin-left: auto;
}